>
*{
	margin:0;
	padding:0;
		background-color:light grey;

}

body{
}

#container{
	margin:20px;
	width:90%;

}

#info{
	position:fixed;
	float:left;
	width:20%;
		font-family:monospace;
		color:blue;

}

#content{
	position: relative;
	float:right;
	width:75%;
	color:black;
		font-family:monospace;

}
#homework{
	background-color: yellow;
}


h1{
	font-weight:normal;
	margin-top:15px;
}

p{
	line-height:120%;
	font-size:1.25em;

}

#homework p{
	padding:10px;
}

li{
		line-height:120%;
	font-size:1.25em;
padding:10px;
}

@media (max-width:800px){
	#info{
		width:90%;
		position:relative;
		float:left;
	}


	#content{
		float:left;
		width:90%;
	}

}
